altair==5.1.2
numpy==1.26.1
pandas==2.1.2
pydeck==0.8.0
streamlit==1.28.1
joblib==1.3.2
matplotlib==3.7.1
scikit-learn==1.4.0

# Trigger redeployment
# Another comment to trigger redeployment
# Yet another comment to trigger redeployment
# Trigger redeployment again
# Trigger redeployment once more
# Trigger redeployment one more time
# Trigger redeployment yet again
# Trigger redeployment one more time again
